@charset "utf-8";
@btn-bg-color:#ff4c75;
.index-body{
    .search-area{
        padding: 30px 20px;
        .search-group{
            .input-group{
                height: 45px;
                line-height: 45px;
                border-radius: 5px 0 0 5px;
                width: 80%;
                float: left;
                background-color: #1E3125;
                .icon{
                    float: left;
                    text-align: center;
                    width: 20%;
                    font-size: 30px;
                    color: white;
                }
                input{
                    width: 70%;
                    background-color: transparent;
                    color: white;
                    line-height: 45px;
                }
            }
            .search-btn{
                width: 20%;
                text-align: center;
                border-radius: 0 5px 5px 0;
                height: 45px;
                font-size: 18px;
                background-color: @btn-bg-color;
                color: white;
            }
            ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color:   white;
            }
        }
    }
    .banner{
        width: 100%;
        .slider{
            width: 100%;
            height: 210px;
            .slider-item{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .class-list{
        padding: 15px;

        .class-item-avatar{
            width: 70px;
            margin: 0 auto;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .class-item-name{
            margin-top: 10px;
        }
    }
    .feedback{
        background-color: white;
        padding: 20px;

        .row{
            padding: 0;
            margin: 0;
            .col{
                padding: 0;
                margin: 0;
            }
        }
    }
}
.feedback-btn{
    text-align: center;
    background-color: @btn-bg-color;
    color: white;
    padding: 8px 0;
    border-radius: 5px;
    margin: 0 auto;
}
